/* style.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 10px;
  background: linear-gradient(to bottom right, #ffcc66, #ff6666); /* Cheerful gradient */
  color: #333;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  overflow: hidden;
  max-width: 600px;
  margin: auto;
}

.cell {
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  border: 1px solid #fff; /* White border for contrast */
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #ffcc66; /* Light yellow background */
}

.cell:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

#message {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

#musicButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #ff6666; /* Coral color for consistency with the title screen */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

#styleToggleButton {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#styleToggleButton:hover {
  background-color: #2980b9;
}

/* Add these styles to your style.css or style2.css */

#settingsButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #3498db; /* Blue color for consistency */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

#settingsButton:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.settings-popup {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.settings-option {
  padding: 8px;
  margin: 5px 0;
  cursor: pointer;
}

.settings-option:hover {
  background-color: #f2f2f2;
}
